html {
    background-color: azure;
}

.heading{
    text-align: center;
    background-color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style:groove;
}

.recipe-list {
    font-size: 30px;
   
}

.beef {
 height: 300px;
 margin: 20px;
    
}

.kebab {
    height: 250px;
    margin: 20px;
}

